<h1>Edit director: <%= @director.name %></h1>

<form action="http://localhost:3000/update_director/<%= @director.id %>">
  Name:
  <input name="the_name" type="text" value="<%= @director.name %>">

  Date of Birth:
  <input name="the_dob" type="text"  value="<%= @director.dob %>">

   Bio:
  <input name="the_bio" type="text"  value="<%= @director.bio %>">

   Image:
  <input name="the_image_url" type="text" value="<%= @director.image_url %>">


  <button>Update Director</button>
</form>

<a href="/">Cancel and go back</a>
