<h1>Edit actor: <%= @actor.name %></h1>

<form action="http://localhost:3000/update_actor/<%= @actor.id %>">
  Name:
  <input name="the_name" type="text" value="<%= @actor.name %>">

  Date of Birth:
  <input name="the_dob" type="text"  value="<%= @actor.dob %>">

   Bio:
  <input name="the_bio" type="text"  value="<%= @actor.bio %>">

   Image:
  <input name="the_image_url" type="text" value="<%= @actor.image_url %>">


  <button>Update Actor</button>
</form>

<a href="/">Cancel and go back</a>
