<h1><%=@movie.title%>

</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-3">
        <ul><img src="<%= @movie.image_url %>" width="80">
        </div></ul>
    </div>
    <div class="row">
         <ul><div class="col-sm-3">Year: <%= @movie.year %></div></ul>
    </div>
     <div class="row">
         <ul><div class="col-sm-3">Duration: <%= @movie.duration %> minutes</div></ul>
    </div>
    <div class="row">
        <ul><div class="col-sm-12"><%= @movie.description %></div></ul>
    </div>
</div>

<a href="http://localhost:3000/">Home</a>

